@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    overflow-x: hidden;
    font-family: 'Roboto', 'sans-serif';
    background-color: #101034;
}

.playfair-display {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

@media only screen and (max-width: 1366px) and (max-height: 768px) {
    .margin-t{
        margin-top: -7rem;
    }
    .img-m{
        background-size: contain;
    }
    .p-text{
        padding-right: 8rem;
    }
}